{% load static %}

<footer class="custom-footer">
    <div class="footer-container">
        <section class="newsletter-section">
            <div class="container">
                <h2>Receba nossas novidades</h2>
                <p>Cadastre seu e-mail para receber notícias e lançamentos em primeira mão.</p>
                <form class="newsletter-form">
                    <input type="nome" placeholder="Digite seu nome" required>
                    <input type="email" placeholder="Digite seu e-mail" required>
                    <button type="submit">Inscrever-se</button>
                </form>
            </div>
        </section>
        <section class="footer-container">
            <div class="container">
                <h3>Contato</h3>
                <p><i class="bi bi-envelope"></i> contato@arteviva.com</p>
                <p><i class="bi bi-telephone"></i> (11) 98765-4321</p>
                <p><i class="bi bi-pin-map"></i> Rua da Música, 123 - São Paulo, SP</p>
            </div>
        </section>
        <section class="footer-sociais">
            <div class="container">

            </div>
        </section>
        <div class="container text-center">
            <p>&copy; 2025 ArteViva. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>