{% load static %}
{% block formulario %}
<footer class="custom-footer">
    <div class="footer-container">
        <section class="newsletter-section">
            <div class="container">
                <h2>Receba nossas novidades</h2>
                <p>Cadastre seu e-mail para receber notícias e lançamentos em primeira mão.</p>
                <form class="newsletter-form" action="{% url 'gravar' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" name="nome" placeholder="Digite seu nome" required>

                    <label for="email" class="form-label">Email:</label>
                    <input type="email" name="email" placeholder="Digite seu e-mail" required>

                    <button type="submit">Inscrever-se</button>
                </form>
                {% comment %} <table class="table table-striped table-bg-secundary">
                    <tr>
                        <td>nome</td>
                        <td>email</td>
                    </tr>
                    {% for convidado in convidados %}
                        <tr>
                            <td>{{convidado.nome}}</td>
                            <td>{{convidado.email}}</td>
                            <td>
                               <a href="{% url 'editar' convidado.id %}">Editar</a>
                               <a href="{% url 'apagar' convidado.id %}">Apagar</a>
                             
                              
                              
                            </td>
                        </tr>
                    {% empty %}
                        
                    {% endfor %}
                </table> {% endcomment %}
            </div>
        </section>
        <section class="footer-container">
            <div class="container">
                <h3>Contato</h3>
                <p><i class="bi bi-envelope"></i> contato@arteviva.com</p>
                <p><i class="bi bi-telephone"></i> (11) 98765-4321</p>
                <p><i class="bi bi-pin-map"></i> Rua da Música, 123 - São Paulo, SP</p>
            </div>
        </section>
        <section class="footer-sociais">
            <div class="container">

            </div>
        </section>
        <div class="container text-center">
            <p>&copy; 2025 ArteViva. Todos os direitos reservados.</p>
        </div>
    </div>
    
</footer>

{% endblock formulario %}