{% load static %}
<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">ARTEVIVA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="">Biografia</a></li>
                <li class="nav-item"><a class="nav-link" href="#carreira">Carreira</a></li>
                <li class="nav-item"><a class="nav-link" href="#albuns">Álbuns</a></li>
                <li class="nav-item"><a class="nav-link" href="#premios">Prêmios e Indicações</a></li>
                <li class="nav-item"><a class="nav-link" href="https://shop.beyonce.com/" target="_blank">Produtos</a></li>
                <li class="nav-item"><a class="nav-link" href="http://10.69.131.178:9876/admin/login/?next=/admin/" target="_blank">Login</a></li>
            </ul>
        </div>
    </div>
</nav>